@font-face {
  font-family: Montserat;
  src: url(https://cdn.glitch.com/4518f4ab-ad64-4308-9194-30e33ae8b42b%2FMontserrat-Regular.ttf?1547689484543);
}

@font-face {
  font-family: Montserat;
  font-weight: bold;
  src: url(https://cdn.glitch.com/4518f4ab-ad64-4308-9194-30e33ae8b42b%2FMontserrat-Bold.ttf?1547689484421);
}

body {
  font-family: "Open Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  color: white;
  margin-top: 0em;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", "Helvetica Neue", helvetica, arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 and _::-webkit-full-page-media, _:future, :root .safari_only {
  font-family: Montserat, "Helvetica Neue", helvetica, arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 and _:-ms-lang(x), _:-webkit-full-screen, .selector {
  font-family: Montserat, "Helvetica Neue", helvetica, arial, sans-serif;
}

.rounded-rectangle {
  background-image: linear-gradient(-185deg, #3333cc, #cc3399);
  border-radius: 0.35rem;
}

.hamburger {
  width: 1.5em;
  height: 0.20em;
  background-color: white;
  margin: 0.25em 0;
  border-radius: 0.35rem;
}

.project {
  width: 10em;
  height: 5.6em;
  background-image: linear-gradient(-185deg, #3333cc, #cc3399);
  border-radius: 0.35rem;
  line-height: 0;
}

.studio {
  width: 5.6em;
  height: 5.6em;
  background-image: linear-gradient(-185deg, #3333cc, #cc3399);
  border-radius: 0.35rem;
  line-height: 0;
}

.user {
  width: 4em;
  height: 4em;
  background-image: linear-gradient(-185deg, #3333cc, #cc3399);
  border-radius: 10000rem;
  line-height: 0;
}

.leftofsearch img {
  display: none;
}

.flex-container {
  display: flex;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;
  height: 70px;
  align-items: center;
}
.main-nav {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.main-nav li {
  margin: -.5em;
}
.nav-links {
  margin-left: 40px;
  text-decoration: none;
  color:white;
  line-height:2em;
  font-family: "Montserrat", "Helvetica Neue", helvetica, arial, sans-serif;
}
.logo {margin-top: 0;}
