@font-face {
    font-family: 'montserrat';
    src: url('montserrat-regular-webfont.woff2') format('woff2'),
         url('montserrat-regular-webfont.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    font-weight: bold;
    src: url('montserrat-bold-webfont.woff2') format('woff2'),
         url('montserrat-bold-webfont.woff') format('woff');
    font-style: normal;
}

body {
  font-family: "Open Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  color: white;
  margin: 0;
  
}

h1, h2, h3, h4, h5, h6 {
  font-family: montserrat, "Helvetica Neue", helvetica, arial, sans-serif;
}



.rounded-rectangle {
  background-image: linear-gradient(-185deg, #3333cc, #cc3399);
  border-radius: 0.35rem;
  margin-left: 1em;
  margin-right: 1em;
}


.project {
  width: 10em;
  height: 5.6em;
  background-image: linear-gradient(-185deg, #3333cc, #cc3399);
  border-radius: 0.35rem;
  line-height: 0;
}

.studio {
  width: 5.6em;
  height: 5.6em;
  background-image: linear-gradient(-185deg, #3333cc, #cc3399);
  border-radius: 0.35rem;
  line-height: 0;
}

.user {
  width: 4em;
  height: 4em;
  background-image: linear-gradient(-185deg, #3333cc, #cc3399);
  border-radius: 10000rem;
  line-height: 0;
}

.leftofsearch img {
  display: none;
}

.flex-container {
  display: flex;
}

.featured {
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;
  height: 50px;
  align-items: center;
  border-bottom: 5px white;
  margin-left: 1em;
  margin-right: 1.2em;
}
.main-nav {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.main-nav li {
  margin: -1.2em;
}
.nav-links {
  margin-left: 40px;
  text-decoration: none;
  color:white;
  line-height:2em;
  font-family: montserrat, "Helvetica Neue", helvetica, arial, sans-serif;
}
.logo {margin-top: 0;}
